/*General Sectio*/
body
{
  margin:0;
  height:3000px;
  padding-top:100px;
}
/*Header Main Section*/

.header-main
{
  display:flex;
  position:fixed;
  top:0;
  width:100%;
  background:rgb(19, 25, 33);
  align-items:center;
  color:white;
  height:60px;
}
/*Header Left Section*/
.left-section
{
  width:180px;
  margin-left:20px;
  padding-top:10px;
  
}
.amazon-logo:hover
{
  border:1px solid white;
  
}
.amazon-logo
{
  width:100px;
  padding:5px;
}
.amazon-mobile-logo
{
  display:none;

  width:35px;
}
/*Header Middle Section*/
.middle-section
{
  flex-grow:1;
  display:flex;
  align-items:center;
  display:flex;
  justify-content: center;
}
.input-search
{
  font-size: 15px;
  width:90%;
  height:40px;
  border:0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left:20px;
  padding-top:0px;
  padding-bottom:0px;
  max-width:800px;
}
.input-search:focus
{
  outline:3px orange solid;
}
.search-button
{
  width:45px;
  height:40px;
  border:0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: orange;
}
.search-icon-image
{
  width:22px;
  height:22px;
}
/*Header Right Section*/
.right-section 
{
  display:flex;
  align-items:center;
  width:180px;
  justify-content:space-evenly;
  margin-right:20px;
}
.return-order-section:hover
{
  border:1px solid white;
  padding:4px;
}
.order-link
{
  color:white;
  text-decoration:none;
}
/* Right Cart Section */
.cart-section
{
  display:flex;
  align-items:center;
  position:relative;
}
.cart-section:hover
{
 
  border:1px solid white;
  padding-right:35px;
}
.cart-relative
{
  color:white;
  
}
.cart-image
{
  width:50px;
}
.cart-relative
{
  position:relative;
}
.cart-quantity
{
  position:absolute;
  bottom:20px;
  left:23px;
  color:orange;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:600;
}
.cart-text
{
  position:absolute;
  left:50px;
  top:15px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:600;
}



/*Media query*/
@media (max-width:600px)
{
.amazon-logo
{
  display:none;
}
.amazon-mobile-logo
{
  display:inline;
  
}
.amazon-mobile-logo:hover
{
  border:1px solid white;
  padding:4px;
}
.left-section
{
  width:50px;
}
}
/* Product Section*/
.product-container
{
  display:grid;
  grid-template-columns: repeat(6,1fr);
}
.product 
{
  display:flex;
  flex-direction:column;
  padding:30px;
  border-right:1px solid rgb(182, 180, 180);
  border-bottom:1px solid rgb(182,180,180);
}
.image 
{
  width:100%;
  height:180px;
}
.product-description
{
  font-family: Arial, Helvetica, sans-serif;
}
.product-rating
{
  display:flex;
  align-items:center;
}
.product-rating span
{
  font-family: Arial, Helvetica, sans-serif;
  color: dodgerblue;
  margin-top:7px;
  margin-left:10px;
}
.rating-image
{
  width:100px;
  height:20px;
}
.product-price
{
  font-weight:800;
}
.product-quantity select
{
  width:40px;
  height:20px;
  border-radius:5px;
  background:rgb(226, 222, 222);
}
.add-to-cart
{
  display:flex;
}
.add-to-cart-button
{
  width:100%;
  margin-left:10px;
  margin-right:10px;
  margin-top:30px;
  height:28px;
  border:0px;
  border-radius:14px;
  background: orange;

}
.add-to-cart-button:hover
{
  background: rgb(239, 188, 93);
}
/*Media query for Products*/
@media (max-width:2000px)
{
  .product-container
  {
    grid-template-columns: repeat(7,1fr);
  }
}
@media(max-width:1600px)
{
  .product-container
  {
    grid-template-columns: repeat(6,1fr);
  }
}
@media (max-width:1300px)
{
  .product-container
  {
    grid-template-columns: repeat(5,1fr);
  }
}
@media (max-width:1000px)
{
  .product-container
  {
    grid-template-columns: repeat(4,1fr);
  }
}
@media (max-width:800px)
{
  .product-container
  {
    grid-template-columns: repeat(3,1fr);
  }
}
@media (max-width:575px)
{
  .product-container
  {
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width:450px)
{
  .product-container
  {
    grid-template-columns: 1fr;
  }
}
