/* General Section */
body
{
  height:3000px;
  margin:0px;
  padding-top:150px;
}
/* header section */
.header
{
  display:flex;
  justify-content:center;
  position:fixed;
  left:0;
  right:0;
  top:0;
  background:white;
}
.header-content
{
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  max-width:1100px;
}
/* header-left-section */

.header-left
{
  margin-left:20px;
}
.amazon-logo
{
  width:100px;
}

.amazon-mobile-logo
{
  display:none;
}

/* Header middle section */ 
.header-middle p
{
  font-family:Roboto;
  font-size: 25px;
  font-weight:500;
}
.header-middle span
{
  color:rgb(4, 84, 164) ;
}
/*header right section */
.header-right
{
  margin-right:20px;
}


/* Media query for header section */
 
@media (max-width:575px)
{
  .amazon-logo
  {
    display:none;
  }
  .amazon-mobile-logo
  {
    display:inline;
    width:35px;
    height:35px;
  }
}

/* Main Section */

.main 
{
  width:1100px;
  margin-left:auto;
  margin-right:auto;
}
.checkout-grid
{
  display:grid;
  grid-template-columns: 1fr 350px;
  column-gap:10px;
}

/* Media Query for Main Section */
@media (max-width:1000px)
{
  .main
  {
    width:500px;
  }
  .checkout-grid
  {
    grid-template-columns:1fr;
  }
  
  .summary-container
  {
    grid-row:1/2;
  }
}
/*Product section*/
.product-container
{
  display:flex;
  flex-direction:column;
  row-gap: 10px;
}
.product 
{
  border:1px solid rgb(222, 222, 222);
  padding:18px;
}
.delivery-date
{
  font-size:19px;
  font-weight:700;
  font-family:Roboto;
  color:green;
  padding-top:30px;
  padding-bottom:30px;
  padding-left:10px;
}
.product-delivery-description
{
  display:grid;
  grid-template-columns:100px 1fr 1fr;
  column-gap:25px;
}
/*product Media Query*/
@media (max-width:1000px)
{
  
  .product-delivery-description
  {
    grid-template-columns: 100px 1fr;
  }
  .delivery-option
  {
    grid-column:1/3;
  }
}
.image
{
 width:100%;
}
.product-description 
{
  
}

.product-name
{
  
  font-weight:700;
  font-family: Roboto;
}
.product-price
{
  color: rgb(167, 3, 3);
  font-weight:700;
}
.product-quantity
{
  font-family:Arial, Helvetica, sans-serif
}
.product-quantity a
{
  color:dodgerblue;
  cursor: pointer;
}
.product-quantity a:hover
{
  color:red;
}
.delivery-option
{
  display:flex;
  flex-direction:column;
  row-gap:15px;
}
.delivery-shippin-option
{
  display:flex;
}

.choosing-delivery-options
{
  font-weight:700;
  font-family: Roboto;
}
.shipping-date
{
  font-family:Roboto;
  color:rgb(0, 118, 0);
  font-weight:500;
}
.shipping-charge
{
  color: rgb(120, 120, 120);
  font-size: 15px;
  font-family:Roboto;
}

/* Order Summary */
.order-summary
{
  border:1px solid rgb(222, 222, 222);
  padding:18px;
}
.order-summary-title
{
  font-size:18px;
  font-weight:700;
  font-family:Roboto;
}
.order-summary-item,.order-summary-shipping,.order-summary-before-tax,.order-summary-total
{
  display:flex;
  justify-content:space-between;
  padding-bottom:10px;
  font-size:15px;
      font-family: Roboto, Arial;
    color: rgb(33, 33, 33);
}
.order-total-price
{
  display:flex;
  justify-content:space-between;
  color:rgb(177, 39, 4);
  font-weight: 700;
  font-size:18px;
  font-family:Roboto;
  padding-top:10px;
  padding-bottom:10px;
}
.order-button
{
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
  border-radius:9px;
  background:rgb(255, 216, 20);
  border:0;
}
.order-button:hover
{
  background: rgb(236, 205, 45);
}